<h1>Dashboard</h1>

<%= link_to 'Doctors', doctors_path %> <br/>

<%= link_to 'Appointments', appointments_path %> <br/>

<%= link_to 'Animals', animals_path %> <br/>

<%= link_to 'Next Appointments', next_appointments_path %> <br/>
